.movie {
  background-color: white;
  margin-bottom: 30px;
  font-weight: 300;
  padding: 20px 20px 0;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie:hover > .movie_img {
  transform: translateY(50px);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 1);
}

.movie_img {
  position: relative;
  top: -50px;
  left: 15px;
  max-width: 150px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  transition: 0.25s ease-in-out;
}

.movie_title,
.movie_year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  transition: 0.08s ease-in-out;
}

.movie_title:hover {
  opacity: 0.7;
}

.movie_title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  text-decoration: none;
}

.movie_genres {
  list-style: none;
  padding: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.movie_year {
  margin-top: 15px;
  font-size: 14px;
}
.movie_genres li {
  margin-right: 10px;
  font-size: 10px;
}
